.user-profile-button,
.icon-button {
  font-size: 24px;
  color: white;
}

.user-profile-button span {
  font-size: 17px;
}


.user-profile-button:hover,
.icon-button:hover {
  color: gray;
  cursor: pointer;
}